/*Syntax*/

.vocab-word {
	border-bottom: 2px solid #B7E3E4;
	display: inline-block;
	line-height: 1;
	text-shadow:.75px 1px white, -.75px 1px white;
}

/*Utilities*/

.small {
	font-size: 1.4rem;
}

.gray {
	color: #A1A3B0;
}

.text-center {
	text-align: center;
}

.img-responsive {
	width: 100%;
}