@font-face {
  font-family: DIN;
  src: url(../fonts/DINNextLTPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: DIN;
  src: url(../fonts/DINNextLTPro-Light.otf);
  font-weight: lighter;
}

@font-face {
  font-family: Charter;
  src: url(../fonts/Charter-Regular.otf);
  font-style: regular;
}

@font-face {
  font-family: Charter;
  src: url(../fonts/Charter-Italic.otf);
  font-style: italic;
}

@font-face {
  font-family: Charter;
  src: url(../fonts/Charter-Bold.otf);
  font-weight: bold;
}

/*Typography*/
html, .root {
  font-size: 21px;
  line-height: 28px;
}
body, .article {
  font-family: "Charter", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
  margin: auto;
}
h1, .h1 {
  font-family: DIN;
  font-weight: bold;
  font-size: 3.375em;
  line-height: 1.33333333em;
  margin-top: 0.44444444em;
  margin-bottom: 0.88888888em;
}
h2, .h2 {
  font-family: DIN;
  font-weight: bold;
  font-size: 2.25em;
  line-height: 1.33333333em;
  margin-top: 0.66666667em;
  margin-bottom: 0.66666667em;
}
h3, .h3 {
  font-family: DIN;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: .5em;
}
h4, .h4 {
  font-family: DIN;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
label {
	font-size: .8rem;
	margin-bottom: 0;
	font-family: DIN;
  font-weight: lighter;
}

.typography-container {
  margin: 0 auto;
  max-width: 600px;
}

.article-image {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-width: 1260px;
  opacity:.2;
}

.definition-container p {
  font-family: DIN;
  font-size: .8em;
  line-height: 1.5em;
}
/*Navbar*/

.navbar {
  position: absolute;
  width: 96px;
}

.home-logo {
	margin-top: 1rem;
	margin-left: 1rem;
	position: fixed;
}

.title {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	bottom: 4rem;
	margin-left: -1.75rem;
	position: fixed;
}

/*Video*/

#banner{
	margin:0;
	margin-left: 5.5rem;
	width:45%;
	height:680px;
    overflow: hidden;
    position: absolute;
}

#banner video{
	margin-left: -50%;
	height: 100% !important;
	background-size: cover;
	background-positon: center;
	transition: 1s opacity;
	z-index:-1;
}

/*Buttons*/

.button {
	font-family: DIN;
}

.button-primary {
	background-color: #0BBCD6;
	transition: .25s;
}

/*Forms*/

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  width: 75%;
  ming-width: 304px; }

/*Syntax*/

.vocab-word {
	border-bottom: 2px solid #B7E3E4;
	display: inline-block;
	line-height: 1;
	text-shadow:.75px 1px white, -.75px 1px white;
}

/*Utilities*/

.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.small {
	font-size: .8rem;
}

.gray {
	color: #A1A3B0;
}

.blue-gray {
  color: #707487;
}

.text-center {
	text-align: center;
}

.img-responsive {
	width: 100%;
}

/*Fun*/

.hr {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift 1s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='#B7E3E4' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  margin: 35px auto;
  border: 0;
  height: 4px;
  width: 40px;
  display: block
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/**/

/* Larger than mobile */
@media (max-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 550px) {
	.navbar {
		display: none;
	}
	#banner {
		display: none;
	}
}

/* Larger than tablet */
@media (max-width: 750px) {
	#banner {
		width: 35%;
		height: 304px;
	}
}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (max-width: 1200px) {}